.container {
    height: 100vh;
    text-align: center;
}

.container #map {
    width: 1024px;
    height: 500px;
}

.top-panel{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
}

.bottom-panel {
   margin: 40px 40px;
}


/* @media(max-width: 1000px) {
    .container{ 
        grid-template-columns: repeat(3,minmax(10rem,20rem) )
    }
}
@media(max-width: 700px) {
    .container{
         grid-template-columns: repeat(2,minmax(10rem,20rem) );
        }
}
@media(max-width: 500px) {
    .container{ 
        grid-template-columns: repeat(1,minmax(10rem,20rem) );
    }
} */