.container {
    height: 100vh;
    text-align: center;
    background-color: lightgreen;
}

.container #map {
    width: 1024px;
    height: 500px;
}

.top-panel{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    margin: 0px 40px;
}

.bottom-panel {
   /* margin: 40px 40px; */
   background-color: lightgreen;
}
